In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#getting the dataset by reading via pandas
csv_path="../real-estate-project/propertysales.csv"
data=pd.read_csv(csv_path)
data

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-18 00:00:00,NaN,Darling Point,Sydney,NSW,-33.869565,151.241317,3,unit,NSW1221,NSW180
1,2018-09-24 00:00:00,NaN,Darling Point,Sydney,NSW,-33.872179,151.239726,3,unit,NSW1221,NSW180
2,2018-09-26 00:00:00,1730000.0,Darling Point,Sydney,NSW,-33.868386,151.237471,2,unit,NSW1221,NSW180
3,2018-09-26 00:00:00,1928000.0,Darling Point,Sydney,NSW,-33.875465,151.236280,3,unit,NSW1221,NSW180
4,2018-10-02 00:00:00,1475000.0,Darling Point,Sydney,NSW,-33.875734,151.233575,3,unit,NSW1221,NSW180
...,...,...,...,...,...,...,...,...,...,...,...
320329,2019-09-09 00:00:00,NaN,Taylor,Canberra,ACT,-35.152128,149.099435,3,townhouse,ACT934,ACT
320330,2019-09-10 00:00:00,549900.0,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT
320331,2019-09-10 00:00:00,499900.0,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT
320332,2020-03-10 00:00:00,434000.0,Taylor,Canberra,ACT,-35.152617,149.103578,3,townhouse,ACT934,ACT
320333,2020-05-19 00:00:00,420000.0,Taylor,Canberra,ACT,-35.151741,149.102781,2,townhouse,ACT934,ACT

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320334 entries, 0 to 320333
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date_sold      320334 non-null  object
 1   price          257826 non-null  float64
 2   suburb         320334 non-null  object
 3   city_name      320334 non-null  object
 4   state          320334 non-null  object
 5   lat            320256 non-null  float64
 6   lon            320256 non-null  float64
 7   bedrooms       320334 non-null  int64
 8   property_type  320334 non-null  object
 9   loc_pid        320334 non-null  object
 10  lga_pid        320334 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 26.9+ MB

In [5]:
data['price'].fillna((data['price'].mean()), inplace=True)
data

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-18 00:00:00,8.107241e+05,Darling Point,Sydney,NSW,-33.869565,151.241317,3,unit,NSW1221,NSW180
1,2018-09-24 00:00:00,8.107241e+05,Darling Point,Sydney,NSW,-33.872179,151.239726,3,unit,NSW1221,NSW180
2,2018-09-26 00:00:00,1.730000e+06,Darling Point,Sydney,NSW,-33.868386,151.237471,2,unit,NSW1221,NSW180
3,2018-09-26 00:00:00,1.928000e+06,Darling Point,Sydney,NSW,-33.875465,151.236280,3,unit,NSW1221,NSW180
4,2018-10-02 00:00:00,1.475000e+06,Darling Point,Sydney,NSW,-33.875734,151.233575,3,unit,NSW1221,NSW180
...,...,...,...,...,...,...,...,...,...,...,...
320329,2019-09-09 00:00:00,8.107241e+05,Taylor,Canberra,ACT,-35.152128,149.099435,3,townhouse,ACT934,ACT
320330,2019-09-10 00:00:00,5.499000e+05,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT
320331,2019-09-10 00:00:00,4.999000e+05,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT
320332,2020-03-10 00:00:00,4.340000e+05,Taylor,Canberra,ACT,-35.152617,149.103578,3,townhouse,ACT934,ACT
320333,2020-05-19 00:00:00,4.200000e+05,Taylor,Canberra,ACT,-35.151741,149.102781,2,townhouse,ACT934,ACT


data['date_sold']=pd.to_datetime(data.date_sold)

data

In [9]:

data['date_sold']=pd.to_datetime(data.date_sold)

In [12]:
df=data.copy()
df['year']=df['date_sold'].dt.year.astype(int)
df['month']=df['date_sold'].dt.month.astype(int)
df

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid,year,month
0,2018-09-18,8.107241e+05,Darling Point,Sydney,NSW,-33.869565,151.241317,3,unit,NSW1221,NSW180,2018,9
1,2018-09-24,8.107241e+05,Darling Point,Sydney,NSW,-33.872179,151.239726,3,unit,NSW1221,NSW180,2018,9
2,2018-09-26,1.730000e+06,Darling Point,Sydney,NSW,-33.868386,151.237471,2,unit,NSW1221,NSW180,2018,9
3,2018-09-26,1.928000e+06,Darling Point,Sydney,NSW,-33.875465,151.236280,3,unit,NSW1221,NSW180,2018,9
4,2018-10-02,1.475000e+06,Darling Point,Sydney,NSW,-33.875734,151.233575,3,unit,NSW1221,NSW180,2018,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320329,2019-09-09,8.107241e+05,Taylor,Canberra,ACT,-35.152128,149.099435,3,townhouse,ACT934,ACT,2019,9
320330,2019-09-10,5.499000e+05,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT,2019,9
320331,2019-09-10,4.999000e+05,Taylor,Canberra,ACT,-35.151968,149.107229,3,townhouse,ACT934,ACT,2019,9
320332,2020-03-10,4.340000e+05,Taylor,Canberra,ACT,-35.152617,149.103578,3,townhouse,ACT934,ACT,2020,3
320333,2020-05-19,4.200000e+05,Taylor,Canberra,ACT,-35.151741,149.102781,2,townhouse,ACT934,ACT,2020,5

In [13]:
propertyCount=df["year"].value_counts()
propertyCount

2019    180382
2020     83663
2018     56289
Name: year, dtype: int64

In [14]:
df.drop(columns=['lat','lon']).groupby('city_name').agg(pd.Series.mode)

,date_sold,price,suburb,state,bedrooms,property_type,loc_pid,lga_pid,year,month
city_name,,,,,,,,,,
Adelaide,2018-12-14,810724.089083,Adelaide,SA,3,house,SA2,SA93,2019,11
Brisbane,2018-12-17,810724.089083,Forest Lake,QLD,3,house,QLD1082,BRIS2,2019,11
Canberra,2019-07-01,810724.089083,Kambah,ACT,3,house,ACT601,ACT,2019,11
Melbourne,2020-02-29,810724.089083,Pakenham,VIC,3,house,VIC2023,VIC127,2019,10
Perth,2020-02-28,810724.089083,Baldivis,WA,4,house,WA2510,WA334,2019,10
Sydney,2019-11-30,810724.089083,Blacktown,NSW,3,house,NSW401,NSW329,2019,11

In [15]:
df=df.drop(columns=['lat','lon']).groupby(['city_name','year']).agg(pd.Series.mode)
df

                date_sold          price         suburb state  bedrooms  \
city_name year
Adelaide  2018 2018-12-14  810724.089083  Morphett Vale    SA         3
          2019 2019-11-29  810724.089083       Adelaide    SA         3
          2020 2020-03-20  810724.089083  Morphett Vale    SA         3
Brisbane  2018 2018-12-17  810724.089083      Calamvale   QLD         3
          2019 2019-11-25  810724.089083    Forest Lake   QLD         3
          2020 2020-02-24  810724.089083      Coorparoo   QLD         3
Canberra  2018 2018-12-21  810724.089083      Ngunnawal   ACT         3
          2019 2019-07-01  810724.089083         Kambah   ACT         3
          2020 2020-03-27  810724.089083         Kambah   ACT         3
Melbourne 2018 2018-10-27  810724.089083       Pakenham   VIC         3
          2019 2019-10-26  810724.089083       Pakenham   VIC         3
          2020 2020-02-29  810724.089083       Pakenham   VIC         3
Perth     2018 2018-11-30  810724.089083       Baldivis    WA         4
          2019 2019-12-02  810724.089083       Baldivis    WA         4
          2020 2020-02-28  810724.089083       Baldivis    WA         4
Sydney    2018 2018-11-30  810724.089083         Mosman   NSW         3
          2019 2019-11-30  810724.089083      Blacktown   NSW         3
          2020 2020-02-29  810724.089083        Dee Why   NSW         3

               property_type  loc_pid lga_pid  month
city_name year
Adelaide  2018         house    SA878    SA93     11
          2019         house      SA2    SA93     11
          2020         house    SA878    SA93      3
Brisbane  2018         house   QLD484   BRIS2     11
          2019         house  QLD1082   BRIS2     11
          2020         house   QLD718   BRIS2      3
Canberra  2018         house   ACT706     ACT     11
          2019         house   ACT601     ACT     11
          2020         house   ACT601     ACT      2
Melbourne 2018         house  VIC2023  VIC127     10
          2019         house  VIC2023  VIC127     11
          2020         house  VIC2023  VIC127      2
Perth     2018         house   WA2510   WA334     11
          2019         house   WA2510   WA334     10
          2020         house   WA2510   WA334      3
Sydney    2018         house  NSW2760  NSW329     11
          2019         house   NSW401  NSW329     11
          2020         house  NSW1238  NSW283      2